---
import Marquee from "@/components/ui/marquee";

const items = [
  "Nicolas Del Rosario",
  "—",
  "Full Stack Developer",
  "—",
  "+1 Year of experience",
  "—",
  "High-quality products",
  "—",
];
---

<div
  class="hidden lg:block fixed left-[68px] bottom-[-33px] z-50 translate-y-1/2 -rotate-90 origin-left w-max"
>
  <Marquee items={items} />
</div>
